
{{#each this}}
    <li class="country-list__item">
        <img src="{{flags.svg}}" alt="{{name.official}}" width="40" height="30">
        <h2 class="country-list__title">{{name.official}}</h2> 
    </li>
{{/each}}
           
